.cartContent {
  padding: 20px;
  margin-left: 20px;
}

.cartInfo {
  display: grid;
  grid-template-areas:
    "img h4 h4 h4"
    "img p p p";
  gap: 10px;
}

.cartInfo img {
  grid-area: img;
  width: 72.8px;
}

.cartInfo h4 {
  grid-area: h4;
  font-family: sans-serif;
  font-weight: 600;
  color: #898989;
  margin: 5px;
}

.cartInfo p {
  grid-area: p;
  margin: 5px;
  color: #d5d8dc;
  display: flex;
  justify-content: space-between;
}

.cartInfo i {
  color: #d5d8dc;
  cursor: pointer;
  font-size: 30px;
}

hr {
  color: #d5d8dc;
  margin: 30px 0 30px 0;
}

.empty {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #4b4f58;
}

.subtotal {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #4b4f58;
  font-family: sans-serif;
}
