.bgContent{
    display: flex;
    padding: 30px;
}

@media (max-width: 1024px) {
    .bgContent {
        display: flex;
    }
  }
  
  @media (max-width: 768px) {
    .bgContent {
        display: flex;
        flex-direction: column;
    }
  }
  
  @media (max-width: 480px) {
    .bgContent {
        display: flex;
        flex-direction: column;
    }
  }