.cart {
  width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -300px;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.7s ease-in-out;
  z-index: 100;
}

.cart.open {
  right: 0;
}

.cartContent {
  padding: 20px;
}

.closeButton {
  width: auto;
  padding: 12px 20px;
  margin: 10px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  background-color: black;
  font-size: medium;
  font-weight: 500;
}

.closeButton:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(241, 132, 54);
}
