.cover {
  background-image: url(../../Assets/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 65vh;
  overflow: hidden;
  background-attachment: fixed;
}

.backgroundOverlay {
  width: 100%;
  height: 100%;
  background-color: #101317;
  opacity: 0.85;
}

.backgroundOverlay img {
  display: block;
  margin: auto;
  transform: translateY(50%);
  width: 250px;
}
