.cover {
  background-image: url(../../Assets/bgcover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 65vh;
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
}

.backgroundOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #101317;
  opacity: 0.6;
}

.cover img {
    width: 250px;
    margin: auto;
}
