.wrapper {
    height: 85px;
    background-color: rgb(36, 44, 52);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 1024px) {
    .wrapper {
      height: 65px;
    }
  }
  
  @media (max-width: 768px) {
    .wrapper {
      height: 55px; 
    }
  }
  
  @media (max-width: 480px) {
    .wrapper {
      height: 45px;
    }
  }
