.wrapper {
    height: 85px;
    background-color: rgb(36, 44, 52);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container {
    padding: 30px;
}