input[type=search], select {
    width: 500px;
    min-height: 35px;
    padding: 0 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    border-color: #ddd;
    outline: none;
  }

::placeholder{
    font-size: medium;
}