/* input[type="search"],
select {
  width: 500px;
  min-height: 35px;
  padding: 0 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  border-color: #ddd;
  outline: none;
}

::placeholder {
  font-size: medium;
} */

.searchInput {
  width: 500px;
  min-height: 35px;
  padding: 0 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  border-color: #ddd;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

button {
  width: auto;
  padding: 12px 20px;
  margin: 10px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  background-color: black;
  font-size: medium;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(241, 132, 54);
}
