.footer {
  background-image: url(../../Assets/footerImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 283px;
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
}

.footerBackgroundOverlay {
  width: 100%;
  height: 100%;
  background-color: #101317;
  opacity: 0.92;
  position: absolute;
}

.footer span {
  position: relative;
  font-size: larger;
  color: rgb(241, 132, 54);
}
