.footer {
  background-image: url(../../Assets/footerImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 283px;
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
}

.footerBackgroundOverlay {
  width: 100%;
  height: 100%;
  background-color: #101317;
  opacity: 0.92;
  position: absolute;
}

.divFlex {
  display: flex;
}

.footerList {
  width: 33.3%;
  position: relative;
  padding: 30px;
  transform: translateY(50%);
}

.footerList ul {
  margin: 0;
  padding: 0;
}

.footerList li {
  list-style: none;
  padding: 0 0 4px;
}

.footerList i {
  position: relative;
  font-size: 15px;
  color: rgb(241, 132, 54);
}

.footerList span {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 16px;
  font-size: 15px;
  font-family: sans-serif;
}

.footerList a {
  text-decoration: none;
}

.pageSpan:hover {
  color: rgb(241, 132, 54);
}

.footerC {
  width: 33.3%;
  position: relative;
  padding: 30px;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.7);
}

.footerC span {
  font-family: sans-serif;
  margin-bottom: 12px;
}

.footerC a {
  text-decoration: none;
  padding: 0 0 4px;
  color: #898989;
  font-size: 12px;
  transition: 0.5s;
}

.footerC a:hover {
  color: #494848;
}
