.footer {
  background-image: url(../../Assets/footerImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 283px;
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
}

.footerBackgroundOverlay {
  width: 100%;
  height: 100%;
  background-color: #101317;
  opacity: 0.92;
  position: absolute;
}

.footerInfo {
  width: 33.3%;
  position: relative;
  padding: 30px;
  transform: translateY(50%);
}

.footerInfo ul {
  margin: 0;
}

.footerInfo li {
  list-style: none;
  padding: 0 0 4px;
}

.footerInfo i {
  position: relative;
  font: 15px;
  color: rgb(241, 132, 54);
}

.footerInfo span {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 16px;
  font: 15px;
}
