.navbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pageTitle {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pageTitle a {
  text-decoration: none;
  color: rgb(15, 15, 15);
  font-weight: 600;
  font-size: 16px;
  padding: 20px;
  font-family: sans-serif;
  transition: 0.5s;
}

.pageTitle a:hover {
  color: rgb(241, 132, 54);
}

.pageTitle a img {
  width: 20px;
  transform: translateX(-50%);
}

.pageTitle div {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.pageTitle:hover div {
  background-color: rgb(241, 132, 54);
}

.pageTitle .active {
  color: #4a4a4a;
}

.pageTitle .active:hover {
  color: #4a4a4a;
}

.active div {
  background-color: #4a4a4a;
}

.active:hover div {
  background-color: #4a4a4a;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoContainer span {
  margin: 10px;
  font-size: 16px;
  font-family: sans-serif;
}

.icon {
  width: 25px;
  height: 25px;
}

.icon :hover {
  color: rgb(241, 132, 54);
  cursor: pointer;
}
