.navbarWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pageTitle {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pageTitle a {
  text-decoration: none;
  color: rgb(15, 15, 15);
  font-weight: 650;
  font-size: 16px;
  padding: 20px;
}

.pageTitle:hover a {
  color: rgb(241, 132, 54);
}

.pageTitle a img {
  width: 20px;
  transform: translateX(-50%);
}

.pageTitle div {
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.pageTitle:hover div {
  background-color: rgb(241, 132, 54);
}

.active {
  display: flex;
  flex-direction: column;
}

.active a {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 650;
  font-size: 16px;
  padding: 20px;
}

.active div {
  width: 100%;
  height: 4px;
  background-color: #4a4a4a;
  position: absolute;
  bottom: 0;
  left: 0;
}

.active:hover a {
  color: #4a4a4a;
}
.active:hover div {
  background-color: #4a4a4a;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoContainer span {
  margin: 10px;
  font-size: 24px;
}

.icon :hover {
  color: rgb(241, 132, 54);
  cursor: pointer;
}
