.cover {
  background-image: url(../../../Assets/bgcover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;
  overflow: hidden;
  background-attachment: fixed;
}

.backgroundOverlay {
  width: 100%;
  height: 100%;
  background-color: #101317;
  opacity: 0.6;
}

.backgroundOverlay span {
  display: flex;
  justify-content: center;
  transform: translateY(100%);
  color: white;
  font-family: Sans-serif;
  font-size: 40px;
  font-weight: 600;
}
