.productsList {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  list-style: none outside;
  margin: 0;
}

@media (max-width: 1024px) {
  .productsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .productsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .productsList {
    grid-template-columns: repeat(1, 1fr);
  }
}