.sidebarWrapper {
  width: 23%;
  text-align: center;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.sidebarWrapper a {
  display: grid;
  grid-column-gap: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #242c34;
  fill: #242c34;
  font-family: sans-serif;
  font-weight: 600;
  padding: 15px;
}

.sidebarWrapper a:hover {
  color: #ec7c14;
}

.sidebarWrapper .active {
  display: grid;
  grid-column-gap: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #ec7c14;
  font-family: sans-serif;
  font-weight: 600;
  padding: 15px;
}
